.post {
    display: flex;
    flex-direction: column;
    width: 60%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 45px;
    background-color: white;
    max-width: 500px;
    border: 1px solid lightgray;
}

.post-image {
    width: 100%;
    object-fit: contain;
    border-top: 1px solid lightgray;
    border-bottom: 1px solid lightgray;
    max-height: 400px;
}

.post-text {
    font-weight: normal;
    padding: 20px;
    border-bottom: 1px solid lightgray;
}

.post-comments {
    padding: 20px;
}

.post-comment-box {
    display: flex;
    margin-top: 10px;
}

.post-comment-input {
    flex: 1;
    padding: 10px;
    border: none;
    border-top: 1px solid lightgray;
}

.post-comment-button {
    flex: 0;
    border: none;
    border-top: 1px solid lightgray;
    background-color: transparent;
    color: lightblue;
    
}

.post-header {
    display: flex;
    align-items: center;
    padding: 20px;
}

.post-header-info {
    display: flex;
    flex: 1;
    align-items: center;
    justify-content: space-between;
    margin-left: 10px;
}